<launch>
  <!-- Run the motor controller node -->
  <node pkg="navigation_package" name="motor_controller_node" type="motor_controller_node">
    <!-- Set any desired parameters for the motor controller node here -->
  </node>

  <!-- Run the cloud point node -->
  <node pkg="navigation_package" name="cloud_point_node" type="point_cloud_node">
    <!-- Set any desired parameters for the cloud point node here -->
  </node>
</launch>
